@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    height:100%;
}
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.body{
    font-family: 'Montserrat', sans-serif;
    height: 126vh%;
}
.header{
    position: sticky;
    top:0;
    height:11vh;
    width: 100%;
    grid-area: header;
    background-color: rgb(247, 236, 222);
}
.logo{
    height: 80%;
    display: table;
    float: left;
    margin-left:1% ;
    font-size: 3vh;
}
.logo h1{
    color:rgb(0, 0, 0);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-weight:bold ;
}
.pageImage{
    display: block;
    margin-left: 10%;
    margin-top:2%;
    width: 33%;
    height: 33%;
    border-radius: 200%;
}
.navigation{
    margin-right: 33%;
    height: 100%;
}
.navigation a{
    height: 53%;
    float: right;
    display: inline;
    margin-left: 10%;
    margin-top: 2%;
}
.navigation a li{
    height: 100%;
    color:rgb(0, 0, 0);
    font-size: 180%;
    font-weight: bold;
}
/* home page */
.gridContainer{
    display: grid;
    height: 126vh;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:0.5fr 1.8fr 1.8fr 1.2fr 1fr;
    grid-template-areas: 
    "header header header"
    "bar main main"
    "bar main main"
    "bar main main"
    "footer footer footer";
}
.text{
    font-size: 250%;
    font-weight: bold;
    text-align: center; 
    color:rgb(45, 41, 74);
    vertical-align: middle;
    grid-area: openingSentence;
    animation: rainbow 10s ease-in-out 0.5s 5;
}
    @keyframes rainbow {
        50% {color:#46748f;}
        100% {color:rgb(6, 26, 37);}
    }
#main1{
    background-image: url(../static/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 100vh;
    grid-area: main;
}
#homePageNav{
    background-color:#46748f;
    display: block;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    color: black;
    text-align: center; 
    grid-area: bar;
    height: 100vh;
}
#h3{
    font-size: 140%;
    padding:1% ;
    margin-top: 2%; 
    text-align :left; 
    color:rgb(0, 0, 0);
    font-weight: inherit;
}
#h2{
    font-weight: bold;
    font-size: 270%;
    padding:1% ;
    margin-top: 20%; 
    text-align: center; 
    color: black;

}
#navDisplay1{
    display: flex; 
    margin: 7%;
    justify-content: center;
}
.link{
    width: 10vw;
    height:15vh;
    margin: 1%;
    padding: 8%;
    border-radius: 100%;
}
.spanStyle{
    display:block;
    font-size: 130%;
}
/* footer */
.container{
    max-width: 50%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 1%;
    grid-area: footer;
    background-color: rgb(247, 236, 222);
    height: 15vh;
}
.coll{
    margin-left: 7%;
    width: 25%;
}
.coll h4{
    font-size: 160%;
    color: black;
    margin-bottom: 10%;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;

}
.coll h4::before{
    content: '';
    position: absolute;
    bottom: -15%;
    background-color: black;
    height:8%;
    width: 30%;

}
.coll ul li a{
    font-size: 140%;
    color: rgb(18, 18, 18);
    font-weight: bold;
}
/* contactPage */
    .gridContainer2{
        display: grid;
        height: 126vh;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows:0.5fr 1.8fr 1.8fr 1.2fr 1fr;
        grid-template-areas: 
        "header header header"
        "form main main"
        "form main main"
        "form main main"
        "footer footer footer";
    }
#main2{
    background-image: url(../static/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 100vh;
    grid-area: main;
}
#letUsHelp{
    margin-top: 60%;
    margin-left: 10%;
    font-size: 400%;
    color: #1d323d;
    font-weight:inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#form{
    background-color:#46748f;
    display: block;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    text-align: center; 
    grid-area: form;
    height: 100vh;
}
#formText{
    font-size: 110%;
    padding:1% ;
    margin-top: 10%; 
    text-align: center; 
    color: black;
}
#formDiv{
    text-align: center; 
    margin-top:7%;
}
.labelElement{
    font-size: 130%;
    color: black;
    font-weight: bold;
    margin-top: 20%;
}
.inputElement{
    margin-top: 3%;
    height: 3vh;
}
#description{
    height: 5vh;
    margin-bottom:15% ;
}
#checkbox{
    margin-left: 5%;

}
#addFile1{
    font-size: 130%;
    color: black;
    font-weight: bold;
    margin-left: 1%;
}
#addFile2{
    margin-left: 22%;
    margin-top: 7%;
    color: black;
}
#submit{
    margin-top: 7%;
    height: 30%;
    width: 25%;
}

