 <!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chefIt_css.css">
    <title>Document</title>
    <script src="chefIt_JS.js"></script>
</head>
<div class="gridContainer2">
    <body class="body">
        <div class="header">
            <div class ="innerHeader">
                <div class="logo">
                    <h1 >Chef<span>It</span></h1>
                    <img class="pageImage" src="../static/recipesLogo.jpg" alt="food logo">
                </div>
                <ul class="navigation">
                    <a href="../templates/signIn.html"><li> Sign In </li></a>
                    <a href="../templates/register.html"><li> Register </li></a>
                    <a href="../templates/homePage.html"><li> Home Page </li></a>
                </ul>
            </div>
        </div>  
     <main id="main2">
        <div id="letUsHelp" >Let Us Help You</div>
    </main> 
    <form id="form" action="formOutPut.html"method="get">
        <div id="formText" >If you are having any technical problems - please attach a print screen</div>
        <div id="formDiv">
            <label class="labelElement" for="fname" >First Name: *</label><br>
            <input class="inputElement" type="text" id="fname" name="fname" pattern="[A-Za-z]{1,15}" required placeholder="Enter first name"><br><br>
            <label class="labelElement" for="lname">Last Name: *</label><br>
            <input class="inputElement" type="text" id="lname" name="lname"  pattern="[A-Za-z]{1,15}" required placeholder="Enter last name"><br><br>
            <label class="labelElement" for="email">Email Address: *</label><br>
            <input class="inputElement" type="email" id="email" name="email" required placeholder="Enter email address"><br><br>
            <label class="labelElement" for="telephone">Phone Number: *</label><br>
            <input class="inputElement" type="tel" id="telephone" name="telephone" pattern ="[0]{1}[5]{1}[0-9]{8}" required placeholder="Enter phone number" ><br><br>
            <div id="description">
                <label class="labelElement" for="description">Description:</label><br>
                <input class="inputElement" type="text" id="description"name="description" ><br><br> 
            </div>
            <label class="labelElement" for="bug">technical problems</label>
            <input id="checkbox" type="checkbox" id="bug"name="bug"  ><br><br>
            <label id="addFile1" for="addedFile"> Attach File</label><br>
            <input id="addFile2" type="file" id="addedFile"name="addedFile" ><br>
            <input id="submit" type="submit" value="Submit">
        </div>
    </form> 
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="coll">
                    <h4>Follow Us</h4>
                        <ul>
                            <li><a href="https://he-il.facebook.com/">Facebook</a></li>
                            <li><a href="https://www.instagram.com/">Instagram</a></li>
                        </ul>
                </div>
                <div class="coll">
                    <h4>Support</h4>
                        <ul>
                            <li><a href="../templates/contactPage.html">Contact Us</a></li>
                            <li><a href="../templates/support.html">Help</a></li>
                        </ul>
                </div>
                <div class="coll">
                    <h4>Company</h4>
                        <ul>
                            <li><a href="../templates/PrivacyPolicy.html">Privacy Policy</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </footer>
    </body>
</div>

</html>
 