@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    height:100%;
}
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* header */
.body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
.header{
    height:100px;
    width: 100%;
    display: block;
    grid-area: header;
}
.innerHeader{
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo{
    height: 80%;
    display: table;
    float: left;
}
.logo h1{
    color:rgb(0, 0, 0);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 50px;
    font-weight:bold ;
}
.logo h1 span{
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    float: left;
    display: table;
    padding: 20 px;
    margin-left: 40px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

/* main home page */
.text{
    height: 60px;
    font-size: 240%;
    font-weight: bold;
    text-align: center; 
    color:rgb(247, 247, 247);
    background-color: #08040a;
    vertical-align: middle;
    grid-area: openingSentence;
    animation: rainbow 4s ease-in-out 0.5s 5;
}
    @keyframes rainbow {
        50% {color:rgb(235, 235, 235);}
        100% {color:rgb(11, 47, 66);}

        
    }
#main1{
    background-image: url(../static/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    grid-area: main;
}
.pageImage{
    display: block;
    margin-left: 10%;
    margin-top:2%;
    width: 40%;
    height: 40%;
    border-radius: 200%;
}
#homePageNav{
    background-color:#253c47;
    display: block;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    color: whitesmoke;
    text-align: center; 
    grid-area: bar;
}
#h3{
    font-size: 140%;
    padding:1% ;
    margin-top: 2%; 
    text-align :left; 
    color:rgb(0, 0, 0);
    font-weight: inherit;
    
}
#h2{
    font-weight: bold;
    font-size: 270%;
    padding:1% ;
    margin-top: 80px; 
    text-align: center; 
    color:whitesmoke;

}
#navDisplay1{
    display: flex; 
    margin: 50px;
    justify-content: center;
}
.link{
    width: 130px;
    height:130px;
    padding:3px;
    margin: 8px;
    border-radius: 100%;
}
.spanStyle{
    display:block;
    font-size: 150%;
}
/* footer */
.container{
    max-width: 1050px;
    margin-left: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 20px 0;
    grid-area: footer;
}
.coll{
    margin-left: 7%;
    width: 25%;
    padding: 0 20px;
}
.coll h4{
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;
}
.coll h4::before{
    content: '';
    position: absolute;
    bottom: -7px;
    background-color: black;
    height: 2px;
    width: 60px;
}
.coll ul li a{
    font-size: 150%;
    color: black;
    font-weight: bold;
}
/* contactPage */
#main2{
    background-image: url(../static/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    grid-area: main;
}
#letUsHelp{
    margin-top: 40%;
    margin-left: 30px;
    font-size: 400%;
    color: #1d323d;
    font-weight:inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#form{
    background-color:#253c47;
    display: block;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    text-align: center; 
    grid-area: form;
}
#formText{
    font-size: 110%;
    padding:1% ;
    margin-top: 10%; 
    text-align: center; 
    color: whitesmoke;
}
#formDiv{
    text-align: center; 
    margin-top:7%;
}
.labelElement{
    font-size: 130%;
    color:rgb(233, 223, 223);
    font-weight: bold;
    margin-top: 20px;
}
.inputElement{
    margin-top: 5px;
    height: 25px;
}
#description{
    height: 60px;
    margin-bottom:50px ;
}
#checkbox{
    margin-left: 5px;

}
#addFile1{
    font-size: 130%;
    color:rgb(233, 223, 223);
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
}
#addFile2{
    margin-left: 100px;
    margin-top: 5px;
}
#submit{
    margin-top: 30px;
    height: 30px;
    width: 90px;
}
    /* grid */
.gridContainer{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:0.5fr 0.2fr 1.8fr 1.8fr 1.2fr 1fr;
    grid-template-areas: 
    "header header header"
    "openingSentence openingSentence openingSentence"
    "bar main main"
    "bar main main"
    "bar main main"
    "bar footer footer";
}
.gridContainer2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:0.5fr 1.8fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "form main main"
    "form main main"
    "form main main"
    "form footer footer";
}